/* breakpoints ================================================= */
/* colors ================================================= */
/* typography ================================================= */
/* transitions ================================================= */
/* mixins ================================================= */
/* style ================================================= */
html, body {
  background-color: white;
  margin: 0;
  min-height: 200px;
  padding: 0;
  position: relative;
  width: 100%; }

.clear {
  clear: both;
  width: 100%; }

/* general ================================================== */
.result-container {
  position: relative;
  float: left;
  height: 48px;
  padding-top: 16px;
  text-align: center; }
  .result-container .result-number {
    font: 300 18px 'Michroma', sans-serif; }

.map-container {
  position: relative;
  width: 100%;
  height: 0;
  margin: 0 auto;
  max-width: 960px; }
  .map-container embed {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }

/* desktop ================================================== */
@media (min-width: 960px) {
  .input-dropdown-container, .input-text-container, .result-container {
    width: 25%; }

  .map-container {
    padding-bottom: 55%; } }
/* tablet ================================================== */
@media (min-width: 600px) and (max-width: 959px) {
  .input-dropdown-container, .input-text-container, .result-container {
    width: 25%; }

  .map-container {
    padding-bottom: 75%; } }
/* phone ================================================== */
@media (max-width: 599px) {
  .input-dropdown-container, .input-text-container, .result-container {
    width: 100%; }

  .map-container {
    padding-bottom: 90%; } }
