/* breakpoints ================================================= */
/* colors ================================================= */
/* typography ================================================= */
/* transitions ================================================= */
/* mixins ================================================= */
/* style ================================================= */
html, body {
  background-color: white;
  margin: 0;
  min-height: 200px;
  padding: 0;
  position: relative;
  width: 100%; }

.clear {
  clear: both;
  width: 100%; }

/* general ================================================== */
.input-text-field-container {
  box-sizing: border-box;
  display: block;
  float: left;
  padding: 8px 0;
  position: relative;
  width: 100%; }
  .input-text-field-container textarea {
    box-sizing: border-box; }
  .input-text-field-container .input-text-field {
    border: none;
    border-bottom: 1px #898989 solid;
    box-sizing: border-box;
    color: #212121;
    display: block;
    font: 400 18px "Michroma", sans-serif;
    margin: 16px;
    margin-top: 12px;
    position: relative;
    resize: none;
    -webkit-transition: border 0.2s ease-in-out;
    -moz-transition: border 0.2s ease-in-out;
    -ms-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
    width: 100%; }
    .input-text-field-container .input-text-field:focus {
      border-bottom: 2px #dfb100 solid;
      color: #212121;
      outline: none; }
  .input-text-field-container .validation-error {
    border-bottom: 2px #ef6c00 solid; }

/* desktop ================================================== */
@media (min-width: 960px) {
  .post .input-text-field-container, .sort .input-text-field-container {
    width: 50%; } }
/* tablet ================================================== */
@media (min-width: 700px) and (max-width: 959px) {
  .input-text-field-container {
    width: 50%; } }
/* phone ================================================== */
@media (max-width: 699px) {
  .input-text-field-container {
    width: 100%; } }
