@import "master";

/* general ================================================== */
.slider-container {
  height: 300px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%; 
  .slide-indicator-container {
    bottom: 16px;
    display: block;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    z-index: 10; 
    .slide-indicator {
      background-color: $nutral-color1;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      float: left;
      height: 16px;
      margin: 4px;
      position: relative;
      transition: 1s;
      width: 16px;
      z-index: 100; 
    }
    .indicator-active {
      background-color: $primary-color; 
    }
  }
  .slider {
    height: 100%;
    transform: translate(0%, 0);
    -webkit-transform: translate(0%, 0);
    transition: 1s;
    width: 200%; 
    .slide {
      display: block;
      float: left;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 50%; 
      img {
        min-height: 100%;
        max-width: 100%;
        position: absolute;
        right: 0;
        -ms-transform: translate(0, -30%);
        -webkit-transform: translate(0, -30%);
        transform: translate(0, -30%); 
      }
    }
  }
}

/* desktop ================================================== */

@media (min-width: $desktop-min) {

  

}


/* tablet ================================================== */

@media (min-width: $tablet-min) and (max-width: $tablet-max) {

  

}

/* phone ================================================== */

@media (max-width: $phone-max) {

  

}
